@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root{
    --font-1: "Crimson Text", serif;
    --font-2: "Work Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-image: url(how-to-implement-dark-mode-with-css-and-js.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: white;
    font-family: var(--font-2);
}

.slidebar{
   
    background: rgba(255,255,255,0.1);
    position: absolute;
    height: 100vh;
    width: 280px;
    left: -280px;
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    transition: all 0.2s linear;
}


a{
    color: white;
    text-decoration: none;
}

.slidebar-logo{
   
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow:  0 0 6px rgba(255,255,255,0.5);
    
}
.slidebar-logo a{
    position: absolute;
    font-size: 26px;
    font-weight: 500;
    left: 60px;
    top: 15px;
}

.slidebar-menu{
    position: absolute;
    top: 80px;
    width: 100%;

}
.slidebar-menu li{
    margin-top: 6px;
    padding: 14px 20px;
}

.slidebar-menu li:hover{
    border-left:1px solid white ;
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
    
}

.slidebar-menu i{
    margin-right: 5px;
    opacity: 0.6;
}
.slidebar-menu i:hover{
    opacity: 1;
    transition: all 0.3s linear;
}
.social-media{
    position: absolute;
    width: 100%;
    bottom: 20px;
    margin-left: 40px;
}
.social-media a{
    margin: 10px;
}
.social-media i{
    padding: 0 5px;
    opacity: 0.6;
    font-size: 20px;
}
.social-media i:hover{
    opacity: 1;
    transition: all 0.2s linear;
}
#check{
    display: none;
}

.btn-one i{
    font-size: 26px;
    transition: all 0.4s linear ;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.btn-two i{
    
    font-size: 26px;
    transition: all 0.4s linear ;
    position: absolute;
    right:20px ;
    top: 20px;
    cursor: pointer;
}

#check:checked ~ .slidebar{
    left: 0;
}

#check:checked ~ .btn-one{
    opacity: 0;
}

